<h1>Liste de nos articles !</h1>

<p><%= link_to "Créer un nouvel article", new_article_path %></p>

<table>
    <tr>
        <th>Titre</th>
        <th>Description</th>
    </tr>
    <% @articles.each do |article| %>
        <tr>
            <td><h4><%= article.title %></h3></td>
            <td><p><%= article.description %></p></td>
            <td><%= link_to "Editer", edit_article_path(article) %></td>
            <td><%= link_to "Afficher", article_path(article) %></td>
        </tr>
    <% end %>
</table>