<div class="row">
    <div class="col-xs-offset-2 col-xs-10">
        <h2><%= @article.title %></h2>
        <div class="container well col-xs-6">
            <p><%= @article.description %></p>
            <small>Autheur: <%= link_to @article.user.username, user_path(@article.user) %> | Créé le <%= @article.created_at.to_date %> | Mis à jour le <%= @article.updated_at.to_date %></s>

            <div class="article-actions">
                <% if logged_in? and @article.user == current_user %>
                    <%= link_to "Editer", edit_article_path(@article), class: "btn btn-xs btn-primary" %>
                    <%= link_to "Supprimer l'article", article_path(@article), method: :delete, class: "btn btn-xs btn-danger" %>
                <% end %>
                    <%= link_to "Retour à la liste", articles_path, class: "btn btn-xs btn-success" %>
            </div>
        </div>
    </div>
</div>