<div class="row center">

    <h2>Profile de <%= @user.username %>   
        <% if logged_in? and current_user.admin? %>
            <%= link_to "Bannir le compte", user_path(@user), method: :delete, class: "btn btn-xs btn-danger" %>
        <% end %>
    </h2>
    <%= gravatar_for @user, size: 120  %>
    <h4>Articles de <%= @user.username %></h4>
    <div class="col-md-6 col-md-offset-3"> 
        <%= render 'articles/articles', obj: @user_articles %>
    </div>
    
    <%= will_paginate @user_articles %>
</div>
